---
layout: default
---

.canvas-holder
  .top Workshops
  canvas#cs_doughnut_chart(height='100', width='100')
  .chartlegend#legend
.canvas-holder
  .top Aktiviteter
  canvas#cs_doughnut_chart(height='100', width='100')
  .chartlegend#legend
.canvas-holder
  .top Handledning
  canvas#cs_doughnut_chart(height='100', width='100')
  .chartlegend#legend