---
layout: default
---
button#edit-this-content Redigera 

.markdowneditor
  .toolbar
    button#close Avbryt
    button#close Spara och stäng
  .content
    .in
      p # Vackra rubriker är bra rubriker
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, quidem, libero. Animi quibusdam laboriosam optio voluptates quod inventore, voluptas aspernatur eum aliquam iure sunt. Quidem vitae eius nulla, unde eaque!
      | * Lista
      | * Lista
      | * Lista
    .out
      h1 Hej
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, quidem, libero. Animi quibusdam laboriosam optio voluptates quod inventore, voluptas aspernatur eum aliquam iure sunt. Quidem vitae eius nulla, unde eaque!
      ul
        li Lista <br>
        li Lista <br>
        li Lista <br>
